---
title: Small Worlds
year: "2026"
layout: project.njk
images:
  - src: /assets/images/small-worlds/18.jpg
    title: Grotto
    medium: Oil on canvas
    dimensions: 24 x 36 inches
    date: "2026"
    collection: 
  - src: /assets/images/small-worlds/15.jpg
    title: Interior Dialogue
    medium: Oil on canvas
    dimensions: 24 x 36 inches
    date: "2026"
    collection: 
  - src: /assets/images/small-worlds/16.jpg
    title: Sprite
    medium: Oil on board
    dimensions: 12 x 12 inches
    date: "2026"
    collection: 
  - src: /assets/images/small-worlds/17.jpg
    title: Planets
    medium: Oil on canvas
    dimensions: 24 x 36 inches
    date: "2026"
    collection: 
  - src: /assets/images/small-worlds/03.jpg
    title: Superficial Resemblance
    medium: Oil on board
    dimensions: 12 x 16 inches
    date: "2026"
    collection: 
  - src: /assets/images/small-worlds/01.jpg
    title: The Months
    medium: Oil on board
    dimensions: 9 x 12 inches
    date: "2025"
    collection: Private collection
  - src: /assets/images/small-worlds/12.jpg
    title: Seven Celestial Bodies
    medium: Oil on board
    dimensions: 12 x 14 inches
    date: "2026"
    collection: 
  - src: /assets/images/small-worlds/04.jpg
    title: Forest
    medium: Oil on canvas
    dimensions: 9 x 12 inches
    date: "2025-2026"
    collection: 
  - src: /assets/images/small-worlds/05.jpg
    title: Five Distant Moons
    medium: Oil on board
    dimensions: 9 x 12 inches
    date: "2025"
    collection: 
  - src: /assets/images/small-worlds/06.jpg
    title: Illumination
    medium: Oil on board
    dimensions: 14 x 20 inches
    date: "2025"
    collection: 
  - src: /assets/images/small-worlds/13.jpg
    title: Class of 1967
    medium: Oil on board
    dimensions: 9 x 12 inches
    date: "2025"
    collection: 
  - src: /assets/images/small-worlds/07.jpg
    title: Night Sky
    medium: Oil on board
    dimensions: 12 x 14 inches
    date: "2025"
    collection: 
  - src: /assets/images/small-worlds/14.jpg
    title: Dust
    medium: Oil on board
    dimensions: 9 x 12 inches
    date: "2025"
    collection: 
  - src: /assets/images/small-worlds/11.jpg
    title: Inversion of Things
    medium: Acrylic on board
    dimensions: 9 x 12 inches
    date: "2024"
    collection: # To add a new image, copy and paste the block below, remove the # symbols, and fill in the values:
  - src: /assets/images/small-worlds/09.jpg
    title: Tempest
    medium: Oil on board
    dimensions: 9 x 12 inches
    date: "2024-2025"
    collection: 
  - src: /assets/images/small-worlds/08.jpg
    title: Untitled
    medium: Oil on board
    dimensions: 16 x 20 inches
    date: "2024-2025"
    collection: 
  - src: /assets/images/small-worlds/02.jpg
    title: Confused Sea
    medium: Oil on board
    dimensions: 12 x 16 inches
    date: "2024"
    collection: 
  - src: /assets/images/small-worlds/10.jpg
    title: Vernal Fantasy (Orb)
    medium: Gouache on paper
    dimensions: 9 x 11 inches
    date: "2024"
    collection: 
---